:root  {
    --dark-color: #181dac;
    --medium-color: #588dbc;
    --light-color: #e0efff;
}

a {
    text-decoration: none;
}

.form-style-7 {
    text-align: center;
    background:#fff;
    padding:0;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-7 h1{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0 0 20px 0;
    color: var(--dark-color);
    font-size:x-large;
    font-family: Arial, Helvetica, sans-serif;
}
.form-style-7 ul{
    list-style:none;
    padding: 10px 0 0 0;
    margin:0;
}
.form-style-7 li{
    display: block;
    padding: 9px;
    border:1px solid;
    border-color: var(--dark-color);
    margin-bottom: 15px;
    font-size: 16px;
    color: var(--medium-color);
    font-family: Georgia, "Times New Roman", Times, serif;
}

.form-style-7 li > label{
    display: block;
    float: left;
    margin-top: -16px;
    background: #FFFFFF;
    height: 16px;
    padding: 0 5px;
    color: var(--medium-color);
    font-size: 12px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.form-style-7 input[type="text"],
.form-style-7 input[type="date"],
.form-style-7 input[type="datetime"],
.form-style-7 input[type="email"],
.form-style-7 input[type="number"],
.form-style-7 input[type="search"],
.form-style-7 input[type="time"],
.form-style-7 input[type="url"],
.form-style-7 input[type="password"],
.form-style-7 textarea,
.form-style-7 select,
.form-style-7 a
{
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    color: var(--dark-color);
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;

}
.form-style-7 input[type="text"]:focus,
.form-style-7 input[type="date"]:focus,
.form-style-7 input[type="datetime"]:focus,
.form-style-7 input[type="email"]:focus,
.form-style-7 input[type="number"]:focus,
.form-style-7 input[type="search"]:focus,
.form-style-7 input[type="time"]:focus,
.form-style-7 input[type="url"]:focus,
.form-style-7 input[type="password"]:focus,
.form-style-7 textarea:focus,
.form-style-7 select:focus
{
}
.form-style-7 li > span{
    background: var(--light-color);
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: var(--medium-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.form-style-7 textarea{
    resize:none;
}
.form-style-7 a
{
    color: var(--dark-color);
    text-decoration: none;
}
.form-style-7 a:hover
{
    color: var(--dark-color);

}
button {
    margin: 0 25px;
    background: var(--light-color);
    border: none;
    padding: 5px 10px;
    border-bottom: 3px solid;
    border-color: var(--medium-color);
    color: var(--medium-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
button:hover{
    background: var(--medium-color);
    border-bottom: 3px solid;
    border-color: var(--light-color);
    color: var(--light-color);
}
.errorPageLinksP span {
    color: var(--medium-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}
.startHidden {
    display: none;
}
#buttonsContainer{
    max-width: 100px;
    margin: auto;
}

#stopButton {
    margin: auto;
    width: 100px;
    color: #e00220;
    border-color: #e00220;

}
#startButton {
    margin: auto;
    width: 100px;
}
.form-style-7 {
    text-align: center;
    background:#fff;
    padding:0;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.main-header {
    text-align: left;
    margin: auto;
}
.main-header h1{
    display: inline;
    vertical-align: middle;
    text-align: left;
    padding: 0;
    height: 40px;
    margin: 0;
    color: var(--dark-color);
    font-size:x-large;
    font-family: Arial, Helvetica, sans-serif;

}
.main-header>img{
    display: inline;
    margin:2px 2px 2px 10px;
    max-height: 40px;
    vertical-align: middle;
}
#github-link {
    display: inline;
    vertical-align: top;
}

#github-link img {
    max-width: 50px;
    margin: 10px 15px 10px 10px;
    float: right;
    object-fit: contain;
    opacity: 0.6;
}

div.container {
    max-width: unset;
}
div.row{
    padding: 10px;
}

#column1 {
    padding: 5px;
}


#column2 {
    padding: 5px;
}

